.root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 8px 16px 8px 0px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  padding: 4px 6px;
  border-radius: 4px;
  transition: all 0.2s ease;
  &:not([data-header="true"]):hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  &[data-header="true"] {
    align-items: flex-end;
  }
}

.buttonIcon {
  width: 75%;
  height: 75%;
  color: rgba(0, 0, 0, 0.4);
  &:hover {
    color: inherit;
  }
}

.noDataIcon {
  width: 48px;
  height: 48px;
  /* color: rgba(0, 0, 0, 0.4); */
}
