.root {
  width: 100%;
  height: 100%;
  position: relative;
}

.links {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  flex-direction: row;
  gap: 0.75rem;
  align-items: center;
}

.linkIcon {
  width: 32px;
  height: 32px;
  color: var(--mantine-color-gray-5);
  transition: all 0.2s ease;
  &:hover {
    color: inherit;
  }
}
